<a href="https://colab.research.google.com/github/ElseJarl7/edd_1310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Intro Python
***
Variables
***
tipo dinamico
***
escuela = "FES Aragón"

In [1]:
escuela = "FES Aragón"
print (escuela)
print ("--------")
edad = 13
estatura = 1.67
fumador = True
frase = """
Esta es 
una frase
de multiples líneas
y tambien es un tipo de dato
"""

print (frase)
nombre = 'jose'
nombre_completo = "jose sosa cardenas"

FES Aragón
--------

Esta es
una frase
de multiples líneas
y tambien es una tipo de dato

# Print 

con comas ,

con signo mas +

con forma()

con el operador f""

In [2]:
# imprime lo que sea
print (nombre,edad)

jose 13

In [4]:
# + concatena, se tiene que cambiar el tipo de dato, es decir tienen que ser del mismo tipo.
print (nombre + str(edad))
print (nombre+nombre_completo)

jose13
josejose sosa cardenas

In [9]:
# con formato ---> Su nombre es Jose y su edad es de 13 años.
print ("Su nombre es",nombre,"y su edad es de",edad,"años")
print ("Su nombre es {0} y su edad es de {1} años.".format(nombre,edad) )
print ("Su nombre es {1} y su edad es de {0} años.".format(nombre,edad) )

Su nombre es jose y su edad es de 13 años
Su nombre es jose y su edad es de 13 años.
Su nombre es 13 y su edad es de jose años.

In [10]:
#con formato con el operador f ""
print (f"Su nombre es {nombre} y su edad es de {edad} años")

Su nombre es jose y su edad es de 13 años

# Carácter de escape 
\n salto de escape

\t tabulador

\a beep

\\" imprimir comilla doble

\\' imprimir comilla simple

In [11]:
"""
Esto es 
un comentario
de multiple línea
tan tan
"""
print (f"\tMi nombre es\n\t\t {nombre}")

	Mi nombre es
		 jose

# Ayuda de tipos de dato en python 
dir()

help()

In [ ]:
# str, int, float, bool ... list, dict, set
help (str)

In [15]:
print(nombre_completo.capitalize())
print(nombre_completo.upper(), end= "----")
print(nombre_completo.title())

Jose sosa cardenas
JOSE SOSA CARDENAS----Jose Sosa Cardenas

#Clase string
Es manejada como un arreglo (c o java) o lista (python) telefono = "Huawei mate 30 pro"

In [16]:
telefono = "Huawei mate 30 pro"
print (telefono[5])

i

# Slicing (rebanado)
[ini :stop :incremento]
Nota : el stop no se incluye , termina en el valor anterior al stop

In [27]:
print (telefono[7:11:1])
#el inicio y el incremento son opcionales
print(telefono[:11:])
# el valor por defecto de stop 
print (telefono[::])
# incremento negativo
print(telefono[::-1])
#slacing negativo
ini = -3
inc = 1
print(telefono[-3::1])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro

#Funciones de String
Existen métodos muy utiles en esta clase

In [42]:
facultad = "    facultad de estudios superiores aragón     \n"
print(facultad)
print(facultad.count("u")) #cuenta el numero de elementos de la cadena 
print(facultad.find("s")) #cuenta en numero de elementos desde el inicio hasta elemento seleccionado
print(facultad.strip()) #elimina los espacios al principio y al final

tamaño = len(facultad)  
print(len(facultad))  # cuenta el numero total de elementos de la cadena
print(f"tamaño de la cadena es {tamaño} caracteres")

print (facultad)
print(facultad.strip().split(" "))# crea una lista de la cadena sin tomar encuenta el elemento seleccionado

print("-------------------")


#copiar cadenas 
otra_cadena = facultad
print (otra_cadena)
otra_cadena = "FES Aragón"
print (facultad)

#copiar listas
colores = ["rojo","verde"]
otra = colores.copy()
print(colores)
print (otra)
otra.append("rosa")
print(colores)
print(otra)

    facultad de estudios superiores aragón

3
17
facultad de estudios superiores aragón
48
tamaño de la cadena es 48 caracteres
    facultad de estudios superiores aragón

['facultad', 'de', 'estudios', 'superiores', 'aragón']
-------------------
    facultad de estudios superiores aragón

    facultad de estudios superiores aragón

['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']